* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --darker: #71C9CE;
  --dark: #A6E3E9;
  --light: #CBF1F5;
  --lighter: #E3FDFD;
  --black: #303841;
  --white: #EEEEEE;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.container {
  width: 80%;
  margin: 64px auto;
}

.gulliver-navbar {
  width: 100%;
  background-color: var(--darker);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gulliver-footer {
  width: 100%;
  background-color: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
}

.content-card {
  display: flex;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--dark);
  justify-content: space-between;
  margin: 16px 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 50%;
  height: 400px;
}

.section-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-resize {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.image-large {
  grid-column: span 4;
  grid-row: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .content-card {
    flex-direction: column;
  }

  .image-grid {
    width: 100%;
  }

  .section-info {
    width: 100%;
  }
}